extends ../layout

block topo
  .container-topo

block content

  .container
    .row
      .col-md-12.col-sm-12
        if items && items.length > 0
          h4
            i.fa.fa-shopping-cart
            |  Itens
            
          table.table.table-condensed
            thead
              tr
                th Produto
                th Preço Unitário
                th.wd-200.text-center Quantidade
                th Total
            tbody
              each item, i in items
                tr
                  td #{item.nome}
                  td.text-right #{item.valorFormatado()}
                  td.text-right #{item.qtde}
                  td.text-right(id="total-#{item._id}") #{item.valorTotalFormatado}
              tr
                td(colspan="4").text-right
                  h3#total #{totalFormatado}
                  

          if session && session.user
            .row
              .col-md-4.col-sm-4
                .panel.panel-default
                  .panel-body
                    h4
                      i.fa.fa-user
                      |  Seus dados
              .col-md-4.col-sm-4
                .panel.panel-default
                  .panel-body
                    h4
                      i.fa.fa-map-marker
                      |  Entrega
              .col-md-4.col-sm-4
                .panel.panel-default
                  .panel-body
                    h4
                      i.fa.fa-money
                      |  Pagamento
          else
            form(method="post")
              .row
                .col-md-3
                  .form-group
                    label(for="email") Email
                    input.form-control(type="text" id="email" name="email")
                  button.btn.btn-default(type="submit") Prosseguir

        else
          p Seu carrinho está vazio!