extends layout

block topo

  #destaques.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      each destaque, i in destaques
        if(i == 0)
          li.active(data-target='#destaques', data-slide-to='#{i}')
        else
          li(data-target='#destaques', data-slide-to='#{i}')
      
    // Wrapper for slides
    .carousel-inner(role='listbox')
      each destaque, i in destaques
        if(i == 0)
          .item.active
            img(src='images/#{destaque.imagens.destaque}', alt='#{destaque.nome}')
            .carousel-caption #{destaque.nome}
        else
          .item
            img(src='images/#{destaque.imagens.destaque}', alt='#{destaque.nome}')
            .carousel-caption #{destaque.nome}
                  
    // Controls
    a.left.carousel-control(href='#destaques', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#destaques', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next

block content
  #app!= content
  
  .row
    each p in produtos
      .col-md-3
        .thumbnail
          img(src='images/#{p.imagens.normal}', alt='#{p.nome}')
          .caption
            .row
              .col-md-8
                h4 #{p.valorFormatado()}
              .col-md-4.text-right
                button.btn.btn-default
                  i.fa.fa-cart-plus.fa-lg
            h5 #{p.nome}
            p #{p.descricao}
