doctype html
html
  head
    title Mosaic Online
  body
    .navbar.navbar-inverse.navbar-static-top
     .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Mosaic Online
        
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav
            -var obj = { 'home':'Home', 'produtos':'Produtos' }
            -each val, key in obj
                 -if (id == key)
                     li.active
                       a(href=key == 'home' ? '/' : '/#{key}') #{val}
                 -else            
                     li
                       a(href=key == 'home' ? '/' : '/#{key}') #{val}
        
           form.navbar-form.navbar-left(role="search")
             .form-group
               input#procuratxt.form-control(type="text", name="busca", placeholder="Procurar")
              button#procurabtn.btn.btn-default(type="submit") OK
        
          ul.nav.navbar-nav.navbar-right
            if session && session.user                
              li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") #{session.user}
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="/logout") #[i.fa.fa-sign-out] Sair
            else
              li
                a(href="/login") Login
              
            li#cartinfo
              a(href="/")
                span#carticn.glyphicon.glyphicon-shopping-cart
                span#cartqty 0
    
    block topo

    .container
      block content

    footer.footer
      .container
        p &copy 2015

    script(src='/javascripts/main.bundle.js')
